*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide{
    display: none;
}

.music{
    position: absolute;
    top:-200px;
}

.car, .enemy{
    width:50px;
    height: 100px;
    background: transparent url('./image/player.png') center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}

.gameArea{
    margin: 0 auto;
    width: 300px;
    height: 100%;
    position: relative;
    border-left: 5px solid #222222;
    border-right: 5px solid #222222;
    background:  #222222;
    overflow: hidden;
}

.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}